@page
@model FinancialInstitutionsListModel
@{
    ViewData["Title"] = "Welcome to Add New Accounts";
}

<div class="text-center">
    <h1 class="display-4">Select Your Financial Institution</h1>
    <div class="text-left" style="margin:auto; width:36%; min-width:100px;">
        <div class="list-group" style="overflow-x:auto;">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title</h5>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title 2</h5>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title 3</h5>
                </div>
            </a>
        </div>
    </div>

    <div id="vueAppSection">
        <!-- Content -->
        <p>count is: {{count}}</p>

        <div style="margin-bottom:16px;">
            <input class="form-control" style="display:inline-block;width:40%;max-width:440px; "type="text" placeholder="Search For Financial Institution" aria-label="Financial Institution Search">
            <button class="btn btn-primary" style="margin-left:6px; margin-top:-4px;" v-on:click="searchBtnClick">Search</button>
        </div>

        <div class="text-left" style="margin:auto; width:36%; min-width:100px;">
            <div class="list-group" style="overflow-x:auto;">

                <a v-for="row in institutions_list" href="#" class="list-group-item list-group-item-action" aria-current="true">
                    <img v-bind:src="row.image" class="card-img-left" style="width:64px;height:64px;" alt="...">
                    <div class="card-body" style="display:inline;">
                        <h5 class="card-title" style="display:inline;">{{row.name}}</h5>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.0.4"></script>

    <script type="text/javascript">
        console.log("in script...");

        const MyComponent = {
            data() {
                return {
                    count: @Model.countx,
                    institutions_list: [
                        { image: "/favicon.ico", name: "My Bank One" },
                        { image: "/favicon.ico", name: "My Bank Two" }
                    ]
                }
            },
            methods: {
                searchBtnClick() {
                    $.ajax({
                        method: "GET",
                        url: "@Url.Page("/FinancialInstitutionsList")?handler=Institutions",
                        contentType: "application/json",
                        context: this,
                        // dataType: "json",
                        success: function (response) {
                            console.log("i got ur data...");
                            this.institutions_list = response;
                        },
                        failure: function (response) {
                            alert(response);  //TODO what do i really want to do here?
                        }
                    });
                }
            }
        }

        const vueApp = Vue.createApp(MyComponent);
        const vm = vueApp.mount("#vueAppSection");

        console.log("out of script...");
    </script>
}
