@page
@model FinancialInstitutionsListModel
@{
    ViewData["Title"] = "Welcome to Add New Accounts";
}

<div class="text-center">
    <h1 class="display-4">Select Your Financial Institution</h1>
    <div class="text-left" style="margin:auto; width:36%; min-width:100px;">
        <div class="list-group" style="overflow-x:auto;">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title</h5>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title 2</h5>
                </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <img src="/favicon.ico" class="card-img-left" style="width:64px;height:64px;" alt="...">
                <div class="card-body" style="display:inline;">
                    <h5 class="card-title" style="display:inline;">Card title 3</h5>
                </div>
            </a>
        </div>
    </div>
</div>

